.form-container{
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 85vh;
}
.address{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;

}

.dropDepartment{
    width: 100%;
}
input{
    width: 95%;
    border-radius: 3px;
    border: 1px solid;
    margin-bottom: 20px;
}
.form-button{
    margin-top: 15px;
}
.labelDepartment{
    margin-top: 15px;
}