.title {
    background-color: rgb(196, 196, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding-left: 10px;
    padding-right: 10px;
}
.linkHeader{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
h2{
    text-align: center;
}